<!DOCTYPE html>
<html lang="fr">

<!--------------------------------------------------------------------------------------------------------------------->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

<!--------------------------------------------------------------------------------------------------------------------->

<style type="text/css">
    .yellow--line {
        -webkit-box-shadow: inset 0 -0.2em 0 #eec333;
        box-shadow: inset 0 -0.2em 0 #eec333;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
    <div class="container-fluid">

      <div>
        <a href="http://127.0.0.1:8000/" class="btn btn-outline-secondary" role="button">Home Page</a>

        <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">{{request.user.username}}</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://127.0.0.1:8000/profile/">Profil</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/logout">Logout</a>
              </div>
        </div>

<!--------------------------------------------------------------------------------------------------------------------->

          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">Forum</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://127.0.0.1:8000/app2/forum/">Forum</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/app2/addInForum/">Add new post</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/app2/addInDiscussion/">Post Answer</a>
              </div>
        </div>


      </div>

<!--------------------------------------------------------------------------------------------------------------------->

    <ul class="navbar-nav">

        <li class="nav-item active">
        <a class="nav-link yellow--line text-uppercase" href="">Wiki</a>
        </li>

        <li class="nav-item active">
        <a class="nav-link yellow--line text-uppercase" href="http://127.0.0.1:8000/app2/episodes/1">Stream</a>
        </li>

        <li class="nav-item active">
        <a class="nav-link yellow--line text-uppercase" href="">Images</a>
        </li>

    </ul>

<!--------------------------------------------------------------------------------------------------------------------->

      <form class="form-inline" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success disabled" type="submit">Search</button>
      </form>

<!--------------------------------------------------------------------------------------------------------------------->

    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>