<style type="text/css">
    .yellow--line {
        -webkit-box-shadow: inset 0 -0.2em 0 #eec333;
        box-shadow: inset 0 -0.2em 0 #eec333;
    }

</style>
<div class="jumbotron";>


<div class="container justify-content-center p-3">
    <div class="row-6">
        <div class="text-center text-uppercase yellow--line"><h3>Informations</h3></div>
    </div>
</div>



<div class="container p-3">
    <div class="row">
        <div class="col-6 border">
            <div class="text-uppercase text-center"><h3>One Piece :</h3></div>

            </br>

            <div class="text-uppercase"><h4>Sortie de l'anime/manga</h4></div>
            <div>
            - Chaque semaine sortent un nouveau chapitre pour le manga et un nouvel épisode pour l'anime, respectivement le vendredi et le samedi.
            </div>

            </br>

            <div class="text-uppercase"><h4>Annonces officielles</h4></div>
            <p>- empty</p>

        </div>
        <div class="col-6 border">
            <div class="text-uppercase text-center"><h4>Site :</h4></div>

            </br>

            <div class="text-uppercase"><h4>Maintenance du site</h4></div>

            </br>

            <p>
                - Aucune maintenance de prévue.
            </p>

            </br>

            <div class="text-uppercase"><h4>Mise à jour</h4></div>

                - Un nouveau bouton de recherche est apparu en haut à droite de votre écran. Ce bouton est actuellement désactivé.
                Notre équipe est encore en train de travailler dessus.
                Il servira à terme de facilité les recherche intra-site aux utilisateus.

            </br>

        </div>
      </div>
</div>
        <div />